<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-row h-screen">
    <header class="w-1/5 bg-black">
        <h1 class="text-white text-4xl">Admin Dashboard</h1>
        <h2 class="text-white">{{ site.name }}</h2>
    </header>
    <main class="w-auto">
        <h1>{{ site.name }}</h1>
    </main>
</body>
</html>